.tasks {
    list-style: none;
    margin: 0;
    padding: 0;
}

.tasks__item {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-gap: 10px;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.tasks__item--done {
    text-decoration: line-through;
}

.tasks__button {
background: hsl(120, 61%, 34%);
border: none;
}

.tasks__button--remove {
    background: red;
    border: none;
}